path{
  stroke: white;
  stroke-width: 4px;
}

text{
	text-anchor: middle;
	font-family: Helvetica;
	font-size: 1.5em;
	fill: white;	
}
article{
	padding:1em;
	
}
svg{
	margin: 0 auto;
	display: block;
}

